BODY {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: "ו"; BACKGROUND: url(header.jpg) #fff repeat-x center top; COLOR: #333333; FONT-SIZE: 12px; PADDING-TOP: 0px
}
A {
	COLOR: #555555; TEXT-DECORATION: none
}
A:hover {
	COLOR: #e3496b; TEXT-DECORATION: underline
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DIV {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DD {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H1 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H2 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H3 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H4 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H5 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
H6 {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
PRE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FORM {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
INPUT {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
BLOCKQUOTE {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
EM {
	FONT-STYLE: normal
}
LI {
	LIST-STYLE-TYPE: none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; VERTICAL-ALIGN: top; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
.clr {
	CLEAR: both
}
.zf0 {
	HEIGHT: 0px; OVERFLOW: hidden
}
.zf1 {
	HEIGHT: 1px; OVERFLOW: hidden
}
.zf2 {
	HEIGHT: 2px; OVERFLOW: hidden
}
.zf5 {
	HEIGHT: 5px; OVERFLOW: hidden
}
.zf8 {
	HEIGHT: 8px; OVERFLOW: hidden
}
.zf10 {
	HEIGHT: 10px; OVERFLOW: hidden
}
.zf20 {
	HEIGHT: 20px; OVERFLOW: hidden
}


.main {
	TEXT-ALIGN: left; MARGIN: 0px auto; WIDTH: 980px; OVERFLOW: hidden
}
TABLE {
	BORDER-COLLAPSE: collapse
}
TABLE TD {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; BORDER-TOP: #999 1px solid; BORDER-RIGHT: #999 1px solid
}
.fred {
	COLOR: #f00
}
.fred2 {
	COLOR: #900
}
.fblue {
	COLOR: #06f
}
.fgreen {
	COLOR: #090
}

.fbold {
	FONT-WEIGHT: bold
}
.unLine {
	TEXT-DECORATION: none
}
.unLine A {
	TEXT-DECORATION: none
}
.fright {
	FLOAT: right
}
.fleft {
	FLOAT: left
}
.hide {
	DISPLAY: none
}
.xu1 {
	MARGIN: 0px 10px 5px; BACKGROUND: url(xu1.gif) repeat-x 0px 1px; HEIGHT: 5px; OVERFLOW: hidden
}
#topnav {
	
}
.tnav_l {
	WIDTH: 4px; BACKGROUND: url(integration.png); FLOAT: left; HEIGHT: 28px; OVERFLOW: hidden
}
.tnav_c {
	WIDTH:460px; BACKGROUND: url(integration.png) 0px -30px; FLOAT: left; HEIGHT: 28px; OVERFLOW: hidden
}
.tnav_r {
	WIDTH: 4px; BACKGROUND: url(integration.png) -4px 0px; FLOAT: right; HEIGHT: 28px; OVERFLOW: hidden
}
.tnav_c .tnavdiv {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; FLOAT: left; PADDING-TOP: 15px
}
.tnav_c .tnavdiv H2 {
	PADDING-BOTTOM: 6px; FONT-SIZE: 12px; FONT-WEIGHT: normal
}
.tnav_c .tnavdiv H2 A {
	COLOR: #999999
}
.tnav_c .tnavdiv UL {
	POSITION: absolute; LINE-HEIGHT: 1.8; WIDTH: 60px; DISPLAY: none; COLOR: #999
}
.tnav_c .tnavdiv UL LI A {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 3px
}
.tnav_c .tnavdiv UL LI A:hover {
	BACKGROUND-COLOR: #999; COLOR: #fff
}
.tnavdiv2 UL {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 5px; LINE-HEIGHT: 1.6; BACKGROUND-COLOR: #f4f4f4; MARGIN-TOP: 0px; PADDING-LEFT: 8px; PADDING-RIGHT: 8px; BORDER-TOP: 0px; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 5px
}
.tnavdiv2 UL LI {
	
}
#uloginbox {
	TEXT-ALIGN: right; WIDTH: 460px; FLOAT: right; OVERFLOW: hidden; PADDING-TOP: 4px
}
.ulogin {
	BORDER-BOTTOM: #3fd2fa 1px solid; BORDER-LEFT: #3fd2fa 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; WIDTH: 100px; PADDING-RIGHT: 2px; HEIGHT: 13px; COLOR: #999999; BORDER-TOP: #3fd2fa 1px solid; BORDER-RIGHT: #3fd2fa 1px solid; PADDING-TOP: 3px
}
.ulogin2 {
	BORDER-BOTTOM: #3fd2fa 1px solid; BORDER-LEFT: #3fd2fa 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; WIDTH: 100px; PADDING-RIGHT: 2px; HEIGHT: 13px; COLOR: #999999; BORDER-TOP: #3fd2fa 1px solid; BORDER-RIGHT: #3fd2fa 1px solid; PADDING-TOP: 3px
}
.ulogin20 {
	BORDER-BOTTOM: #3fd2fa 1px solid; BORDER-LEFT: #3fd2fa 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; WIDTH: 100px; PADDING-RIGHT: 2px; HEIGHT: 13px; COLOR: #999999; BORDER-TOP: #3fd2fa 1px solid; BORDER-RIGHT: #3fd2fa 1px solid; PADDING-TOP: 3px
}
.ulogin3 {
	BORDER-BOTTOM: #3fd2fa 1px solid; BORDER-LEFT: #3fd2fa 1px solid; PADDING-BOTTOM: 1px; PADDING-LEFT: 2px; WIDTH: 42px; PADDING-RIGHT: 2px; HEIGHT: 13px; COLOR: #999999; BORDER-TOP: #3fd2fa 1px solid; BORDER-RIGHT: #3fd2fa 1px solid; PADDING-TOP: 3px
}
.ulogin4 {
	MARGIN-BOTTOM: -5px; HEIGHT: 19px
}
.ulogin5 {
	BACKGROUND-IMAGE: url(i1.gif); BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 60px; PADDING-RIGHT: 0px; HEIGHT: 20px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.ulogin {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px
}
.ulogin2 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px
}
.ulogin20 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px
}
.ulogin3 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px
}
.ulogin4 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px
}
.ulogin5 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px
}
.ulogin6 {
	DISPLAY: inline; FLOAT: left; MARGIN-LEFT: 5px
}
.logo {
	BACKGROUND-IMAGE: url(logo.gif); TEXT-INDENT: -1000px; WIDTH: 97px; DISPLAY: inline; FLOAT: left; HEIGHT: 83px; MARGIN-LEFT: 20px
}
.logo A {
	WIDTH: 97px; DISPLAY: block; HEIGHT: 83px
}
.header_banner {
	FLOAT: right; PADDING-TOP: 8px
}
.userinfo {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 12px; PADDING-TOP: 3px
}
.nav_l {
	WIDTH: 5px; BACKGROUND: url(integration.png) no-repeat 0px -108px; FLOAT: left; HEIGHT: 44px; OVERFLOW: hidden
}
.nav_c {
	WIDTH: 970px; BACKGROUND: url(integration.png) repeat-x 0px -153px; FLOAT: left; HEIGHT: 44px; COLOR: #cc6600; OVERFLOW: hidden
}
.nav_r {
	WIDTH: 5px; BACKGROUND: url(integration.png) no-repeat 0px -63px; FLOAT: right; HEIGHT: 44px; OVERFLOW: hidden
}
.nav_c A {
	COLOR: #cc6600
}
.nav_c A:hover {
	COLOR: #f00
}
.nav_hc {
	WIDTH: 104px; BACKGROUND: url(integration.png) 0px -265px; FLOAT: left; HEIGHT: 44px
}
.nav_h {
	TEXT-ALIGN: center; MARGIN-TOP: 14px; WIDTH: 70px; DISPLAY: inline; BACKGROUND: url(integration.png) 0px -205px; FLOAT: left; HEIGHT: 18px; MARGIN-LEFT: 4px; PADDING-TOP: 6px
}
.nav_h3 {
	TEXT-ALIGN: center; MARGIN-TOP: 14px; WIDTH: 70px; DISPLAY: inline; BACKGROUND: url(integration.png) 0px -205px; FLOAT: left; HEIGHT: 18px; MARGIN-LEFT: 4px; PADDING-TOP: 6px
}
.nav_h3 {
	WIDTH: 40px; BACKGROUND-POSITION: 0px -235px; CURSOR: pointer; FONT-WEIGHT: bold
}
.nav_h3 UL {
	Z-INDEX: 100; BORDER-BOTTOM: #f2ce00 1px solid; POSITION: absolute; TEXT-ALIGN: left; BORDER-LEFT: #f2ce00 1px solid; PADDING-BOTTOM: 2px; LINE-HEIGHT: 2; BACKGROUND-COLOR: #fff; PADDING-LEFT: 10px; WIDTH: 60px; PADDING-RIGHT: 10px; DISPLAY: none; BORDER-TOP: #f2ce00 1px solid; FONT-WEIGHT: normal; BORDER-RIGHT: #f2ce00 1px solid; PADDING-TOP: 6px
}
.nav_h2 {
	PADDING-LEFT: 10px; FLOAT: left; PADDING-TOP: 20px
}
.ty_kul {
	WIDTH: 5px; BACKGROUND: url(integration.png) no-repeat 0px -315px; FLOAT: left; HEIGHT: 38px; OVERFLOW: hidden
}
.ty_kuc {
	WIDTH: 970px; BACKGROUND: url(integration.png) repeat-x 0px -360px; FLOAT: left; HEIGHT: 38px; COLOR: #cc6600; OVERFLOW: hidden
}
.ty_kur {
	WIDTH: 5px; BACKGROUND: url(integration.png) no-repeat 0px -405px; FLOAT: right; HEIGHT: 38px; OVERFLOW: hidden
}
.this_postion {
	PADDING-LEFT: 8px; WIDTH: 530px; FLOAT: left; COLOR: #333; OVERFLOW: hidden; PADDING-TOP: 6px
}
.ty_ss1 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 24px; PADDING-RIGHT: 0px; BACKGROUND: url(integration_ku.png) 0px -230px; FLOAT: left; HEIGHT: 24px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.ty_ss2 {
	BORDER-BOTTOM: #dddddd 1px solid; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: 90px; PADDING-RIGHT: 0px; FLOAT: left; HEIGHT: 19px; BORDER-TOP: #dddddd 1px solid; BORDER-RIGHT: 0px; PADDING-TOP: 3px
}
.ty_ss3 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; WIDTH: 71px; PADDING-RIGHT: 0px; BACKGROUND: url(integration_ku.png) 0px -295px; FLOAT: left; HEIGHT: 24px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
.ty_ss4 {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 8px; WIDTH: 220px; PADDING-RIGHT: 8px; FLOAT: left; HEIGHT: 14px; OVERFLOW: hidden; PADDING-TOP: 6px
}
.ty_ss5 {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; WIDTH: 66px; BACKGROUND: url(integration_ku.png) 0px -360px; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden
}
.ty_ss6 {
	
}
.ty_ask_ad {
	LINE-HEIGHT: 24px; WIDTH: 180px; DISPLAY: inline; FLOAT: left; HEIGHT: 22px; MARGIN-LEFT: 10px; FONT-SIZE: 12px; OVERFLOW: hidden
}
.ty_ask_ad A {
	
}
.ty_ss7 {
	TEXT-ALIGN: center; LINE-HEIGHT: 26px; WIDTH: 66px; BACKGROUND: url(integration_ku.png) 0px -390px; FLOAT: left; HEIGHT: 24px; COLOR: #f00; OVERFLOW: hidden; FONT-WEIGHT: bold
}
.ty_ss7 A {
	COLOR: #f00
}
.ty_searchform {
	PADDING-BOTTOM: 8px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 8px
}
.ty_pop_bbr {
	PADDING-LEFT: 5px; WIDTH: 210px; FLOAT: right; HEIGHT: 23px; OVERFLOW: hidden
}
.ty_pop_bbr UL LI {
	TEXT-ALIGN: center; LINE-HEIGHT: 24px; MARGIN-TOP: 1px; WIDTH: 66px; DISPLAY: inline; BACKGROUND: url(integration_ku.png) 0px -360px; FLOAT: left; HEIGHT: 22px; OVERFLOW: hidden; MARGIN-RIGHT: 4px
}
.ggl {
	FLOAT: left
}
.ggr {
	FLOAT: right
}
.bom {
	BACKGROUND-IMAGE: url(logo1.gif); MARGIN: 10px; WIDTH: 124px; DISPLAY: inline; FLOAT: left; HEIGHT: 104px
}
.bom1 {
	LINE-HEIGHT: 2.5; WIDTH: 800px; FLOAT: left; PADDING-TOP: 10px
}
.bom11 {
	
}
.bom12 {
	COLOR: #999999
}
